:root {
  --LAKERS_YELLOW: #fdb927;
  --LAKERS_YELLOW_OP: #ffdd94;
  --LAKERS_PURPLE: #552583;
  --LAKERS_BLACK: #000000;
  --DARK_GREY: #434343;
  --LIGHT_GREY: #d4d4d4;
  --ORANGE: #ff9100;
  --RED: #fd2727;
  --GREEN: #2fa62b;
  --BLUE: #276bfd;
  --BACKGROUND: #f6f6f5;
}

@font-face {
  font-family: ganhdi;
  src: url('../gandhi-serif/GandhiSerif-Regular.otf');
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: ganhdi;
  line-height: 1.7em;
  margin: 0;
}

/* page */
.page {
  display: block;
  text-align: center;
  padding: 40px 30px;
}

.page p {
  text-align: left;
  /* width: 700px; */
  margin: auto;
  color: var(--DARK_GREY);
}

/* .section-title {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 28px;
} */

/* new team intro page */
#new-team-intro{
  display: grid;
  margin: 200px 200px 200px 200px;
  grid-template-columns: 450px 940px 450px;
  grid-template-rows: 200px 200px 300px 200px; 
  gap: 50px;
  height:100% 
  
}

#section-title {
  grid-column: 2;
  grid-row: 2;
  margin: 50px;
  font-size: 50px;
  
}

#intro-text{
  grid-column: 2;
  grid-row: 3/5;

}

#intro-text p{
  margin:0px 0px 0px 20px;
  font-size: 30px ;
  text-align: left;
  line-height: 125%;
}


/* other team player page */
.wrapper-other-player{
  display: grid;
  margin: 50px 200px 50px 200px;
  grid-template-columns: 230px repeat(3, 420px) 230px;
  grid-template-rows: 100px repeat(4, 220px); 
  gap: 50px;
  height:100% 
}

#other-player-intro {
  grid-column: 1/6;
  grid-row: 1;
  margin: 0px;
  object-fit: cover;
  font-size: 50px;
  text-align: center;
}

#vogel-box{
  grid-column: 2;
  grid-row: 2/4;
  margin: 0px;
  object-fit: cover;
  box-shadow:  1px 2px 6px 2px rgba(0, 0, 0, 0.5);
}

#rondo-box{
  grid-column: 3;
  grid-row: 2/4;
  margin: 0px;
  object-fit: cover;
  box-shadow:  1px 2px 6px 2px rgba(0, 0, 0, 0.5);
}

#howard-box{
  grid-column: 4;
  grid-row: 2/4;
  margin: 0px;
  object-fit: cover;
  box-shadow:  1px 2px 6px 2px rgba(0, 0, 0, 0.5);
}

#kcp-box{
  grid-column: 2;
  grid-row: 4/6;
  margin: 0px;
  object-fit: cover;
  box-shadow:  1px 2px 6px 2px rgba(0, 0, 0, 0.5);
}

#kuzma-box{
  grid-column: 3;
  grid-row: 4/6;
  margin: 0px;
  object-fit: cover;
  box-shadow:  1px 2px 6px 2px rgba(0, 0, 0, 0.5);
}

#caruso-box{
  grid-column: 4;
  grid-row: 4/6;
  margin: 0px;
  object-fit: cover;
  box-shadow:  1px 2px 6px 2px rgba(0, 0, 0, 0.5);
}

/* #intro-text p{
  margin:0px 20px 0px 20px;
  font-size: 30px ;
  text-align:center;
} */



.other-player-format{
  text-align: left;
  font-size: 35px ;
  margin-bottom: 20px;
  padding-left: 8px;
  padding-right:5px;
}

#kcp-format{
  text-align:left;
  font-size: 28px ;
  padding-left: 8px;
  padding-right:5px;
}

.other-player-text-format{
  text-align: left;
  font-size: 20px ;
  margin-top:20px;
  margin-right: 60px;
  padding-left: 10px;
  padding-right:10px;
  line-height: 120%;
}
#new-team {
  background-color: var(--BACKGROUND);
}

/* the new team page */



.performance-title {
  font-size: 120px;
  color: #9D0000;
  text-align: left;
}


.performance-Text {
  margin:0px 50px 50px 20px;
  margin-right: 0px;
  font-size: 30px ;
  text-align: left;
}


.ad-wrapper{
  display: grid;
  margin: 200px 200px 200px 200px;
  grid-template-columns: 180px 420px 420px 550px 130px;
  grid-template-rows: 380px 300px 300px; 
  gap: 50px;
  height:100% 
  /* display: grid;
  margin: 100px 150px 100px 150px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 100px); 
  gap: 0px;
  height:100%  */
}

#ad-box-1{
  grid-column: 4;
  grid-row: 1/4;
  margin: 0px;
  object-fit: fill;
}

#ad-box-1>img{
  margin-top: 50px;
  margin-left:50px;
  border-radius: 10px;
  width: 100%;
}

#ad-box-2{
  grid-column:2/4 ;
  grid-row: 1;
 
}

#ad-box-2 p{
  text-align: left;
  margin-left: 10px;
  margin-top: 125px;
  margin-right:0px;
  line-height: 125%;
}

#ad-box-3{
  grid-column: 2  ;
  grid-row: 2;
 
}
/* #ad-box-3 >*{
  object-fit: cover
} */

#ad-box-4{
  grid-column: 3;
  grid-row: 2;
 
}

#ad-box-4 >*{
  object-fit: cover
}

#ad-box-5{
  grid-column: 2  ;
  grid-row: 3;
  
}

#ad-box-5 >*{
  object-fit: cover
}

#ad-box-6{
  grid-column: 3;
  grid-row: 3;
}

#ad-box-6 >*{
  object-fit: cover
}

/* LB section */
.lb-wrapper{
  display: grid;
  margin: 200px 200px 200px 200px;
  grid-template-columns: 120px 630px 420px 420px 110px;
  grid-template-rows: 380px 300px 300px; 
  gap: 50px;
  height:100% 
}

.lb-wrapper > div {
  
  text-align: left
}

#lb-performance-title {
  font-size: 100px;
  color: #9D0000;
  text-align: left;
}

#lb-box-1{
  grid-column: 2;
  grid-row: 1/4;
  margin: 0px;
  object-fit: cover;
  
}

#lb-box-1>img{
  margin-top: 0px;
  border-radius: 10px;
  width: 110%;
}

#lb-box-2{
  grid-column: 3/5;
  grid-row: 1;
 
}

#lb-box-2 p{
  text-align: left;
  margin-left: 10px;
  margin-top: 125px;
  margin-right:0px;
  line-height: 125%;
}

#lb-box-3{
  margin-left:50px;
  grid-column: 3;
  grid-row:2;
  
}
#lb-box-3 >*{
  object-fit: cover
}

#lb-box-4{
  margin-left:50px;
  grid-column: 4;
  grid-row: 2;
 
}

#lb-box-4 >*{
  object-fit: cover
}

#lb-box-5{
  margin-left:50px;
  grid-column:3 ;
  grid-row: 3;
}

#lb-box-6{
  margin-left:50px;
  grid-column: 4;
  grid-row: 3;
}

#lb-box-6 >*{
  object-fit: cover
}

